@font-face {
    font-family: "roboto-mono";
    src: url('../assets/RobotoMono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "roboto-mono", monospace;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background-color: #282c33;
    color: #d6dae0;
    /* max-width: 768px; */
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #db4383;
    text-decoration: underline;
}


h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

.highlights {
    color: #db4383;
}



/* ******************************************************* */
/* styling for the navigation bar */
/* ******************************************************* */
.nav-contaier {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #282c33;
    position: fixed;
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    border-bottom: #d6dae0 1px solid;
    padding-left: 10px;
    background-color: #282c33;
    padding-right: 10px;
}


nav figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}


/* ******************************************************* */
/* styling for the container */
/* ******************************************************* */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}


/* ******************************************************* */
/* the about section */
/* ******************************************************* */
.about {
    min-height: 100vh;
    padding-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-caption {
    width: 50%;
}

.about-caption p {
    text-align: justify;
    line-height: 2rem;
    padding-top: 24px;
    padding-bottom: 24px;
}

.about .image {
    display: block;
}

.image-small{
    display: none;
}

/* ******************************************************* */
/* This is the quote section */
/* ******************************************************* */
.quote-container {
    color: #fff;
    width: 65%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.quote {
    border: 1px solid #ffffff;
    border-style: dotted;
    padding: 20px;
    font-style: italic;
}

.author {
    border: 1px solid #ffffff;
    border-style: dotted;
    padding: 20px;
    display: flex;
    float: right;
    font-style: italic;
}


/* ******************************************************* */
/* This is the goals section */
/* ******************************************************* */
.future-goals {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.goals-body {
    /* margin-bottom: 40px; */
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-left: 40px;
    justify-content: start;
    height: 500px;
    position: relative;
}

.month-btns {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.icon {
    display: none;
}

.month-button {
    padding: 16px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin-right: 20px;
}

.month-button:hover,
.month-button.active {
    background-color: #d6dae0;
    color: #282c33;

}


.goal-container {
    border: #ffffff 1px solid;
    width: 640px;
    display: flex;
    flex-direction: column;
}

.goal-title {
    border-bottom: #ffffff 1px solid;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

.goal-duration,
.goal-list {
    padding: 20px;
}

.goal-list {
    padding-top: 0px;
}






/* ******************************************************* */
/* This is the contact info section */
/* ******************************************************* */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact-body {
    margin-bottom: 40px;
    margin-left: 40px;
}

.contact-body p {
    padding-bottom: 40px;
}

.contact-body .contact-card {
    border: #d6dae0 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 185px;
    width: 60%;
}

.info {
    gap: 20px;
    width: 70%;
}


.detail {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}


/* ******************************************************* */
/* This is the footer section */
/* ******************************************************* */
.foot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    border-top: #d6dae0 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}



/* ******************************************************* */
/* This is responsiveness */
/* ******************************************************* */

@media(max-width: 1440px) {
    .about {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .about-caption {
        width: 100%;
    }

    .quote-container {
        width: 80%;
    }

    .month-button {
        padding: 8px;
    }


    .info {
        width: 100%;
    }

    .contact-body .contact-card {
        width: 100%;
    }

}



@media (max-width: 1300px) {
    .quote-container {
        width: 100%;
    }

    .goal-container {
        width: 100%;
    }
}



@media (max-width:1024px) {
    nav {
        width: 100%;
    }

    .container {
        width: 80%;
    }

}



@media (max-width:768px) {
    .month-btns {
        display: none;
        position: absolute;
        top: 10%; 
        left: 0;
        right: 0;
        background-color: #282c33;
        border-radius:5px;
        border: 1px solid #d6dae0;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
        padding: 16px;
    }

    .icon {
        display: block;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
        padding: 8px;
        border: 1px solid #d6dae0;
        border-radius: 5px;
    }
    .month-button{
    margin-right: 10px;

    }

    .contact-body,
    .goals-body {
        margin-left: 10px;
    }
}

@media (max-width:550px) {
    .about .image {
        display: none;
    }
    
    .image-small{
        display: block;
    }
    h1 {
        font-size: 28px;
        font-weight: 700;
    }
}